@charset "UTF-8";

body {
  padding-top: 63px;
  /* CSS変数の定義 */
  --key-color: #8e44ad;
  --sub-color: #7e349d;
}

@media screen and (max-width: 768px) {
  body {
    padding-top: 51px;
  }
}

.btn-primary {
  /* CSS変数の参照 */
  background-color: var(--key-color);
  border: 1px solid var(--key-color);
}

.btn-primary:hover {
  /* CSS変数の参照 */
  background-color: var(--sub-color);
  border: 1px solid var(--sub-color);
}

footer a {
  color: var(--key-color);
}

footer a:hover {
  color: var(--sub-color);
}
ul {
  padding-left: 0;
  list-style-type: none;
}

/*-------------------------
  トップ
-------------------------*/

.topics p {
  text-align: justify;
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 8;
}
